body {
  background: peachpuff;
}

.a, .b, .c, .d, .e, .f, .g, .h {
  border: 1px solid teal;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 0.5em;
}

.sub_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  flex-grow: 2;
}
.sub_container div {
  display: flex;
  width: 100%;
  gap: 0.5em;
}

.a {
  flex-grow: 1;
}

.h {
  flex-grow: 2;
}

@media (min-width:600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }

  .sub_container {
    min-height: 33vh;
    min-width: 75%;
  }
}