body {
  background: blanchedalmond;
}

div {
  border: 1px solid teal;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 0.5em 0.5em;
}

.a {
  flex-grow: 1;
}

.b {
  flex-grow: 4;
}

.c {
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    min-height:60vh;
  }
}