body {
  margin: 1em;
  background: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.a {
  background-color: red;
  flex-grow: 1;
}

.b {
  background-color: blue;
  margin: 1em 0em;
  flex-grow: 4;
}

.c {
  background-color: chartreuse;
  flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    margin-bottom: 0em;
    margin-right: 1em;
    min-height:60vh;
  }
  .c {
    margin-top: 1em;
  }
}