body {
  background: papayawhip;
}

div {
  border: 1px solid teal;
} 

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  gap: 0.5em 0.5em;
}

.a, .c, .d, .e, .f{
  flex-grow: 1;
}

.b {
  flex-grow: 2;
  min-height: 20vh;
  width: 100%;
}

.f {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-flow: wrap;
  }
  .a {
    width: 100%;
    min-height: 20vh;
  }
  .b {
    width: 50vw;
    flex-grow: 1;
  }
  .f {
    width: auto;
    min-width: 20vw;
    height: 40vh;
    flex-flow: column;
  }

  .b, .c, .d, .e {
    flex-flow: row wrap;
    height: 30vh;

  }

 .c, .d, .e {
  
  }

  .e {

  }
}