body {
  background: papayawhip;
}

.a, .b, .c, .d, .e, .f {
  border: 1px solid teal;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 0.5em;
}

.sub_container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-grow: 3;
}

.sub_container div {
  display: flex;
  gap: 0.5em;
  flex-grow: 1;
}

.a {
  flex-grow: 1;
  min-height: 20vh;
}

.b {
  flex-grow: 2;
  min-height: 35vh;
}

.f {
  flex-grow: 1;
  min-height: 20vh;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-flow: wrap;
  }

  .a {
    width: 100%;
  }

  .f {
    min-height: 60vh;
  }

}